Repository Recipe-Web-App/recipe-scraper-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, python, tests, database, api, scripts

fix: reverted python image back to v13
  Dockerfile
Labels: docker

fix: reverted python image back to v13 (#76)
  Dockerfile
Labels: docker

fix: fixed broken pre-commit conventional commits config
  .pre-commit-config.yaml
Labels: configuration

chore: removed poetry.lock from gitignore
  .gitignore
  poetry.lock
Labels: dependencies

Poetry lock fix (#77)
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
Labels: dependencies, configuration

fix(deploy): rolled back to python 13 due to ingredient-parser depend
  Dockerfile
Labels: docker

fix(deploy): rolled back to python 13 due to ingredient-parser depend (#85)
  Dockerfile
Labels: docker

chore(recipe-comments): updated ORM models to include recipe comments
  app/db/models/recipe_models/__init__.py
  app/db/models/recipe_models/recipe.py
  app/db/models/recipe_models/recipe_comment.py
Labels: python, database

chore(recipe-comments): updated ORM models to include recipe comments (#96)
  app/db/models/recipe_models/__init__.py
  app/db/models/recipe_models/recipe.py
  app/db/models/recipe_models/recipe_comment.py
Labels: python, database

feat(notification-service): implemented downstream client for auth service
  README.md
  app/api/v1/schemas/downstream/auth_service/__init__.py
  app/api/v1/schemas/downstream/auth_service/token_response.py
  app/core/config/service_urls.py
  app/deps/service_token_manager.py
  app/utils/service_token_manager.py
  tests/unit/utils/service_token_manager_test.py
Labels: documentation, python, tests, api

feat(notification-service): implemented downstream client for user management service
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/get_followed_users_response.py
  app/api/v1/schemas/downstream/user_management_service/user.py
  app/deps/user_management_service.py
  app/services/downstream/__init__.py
  app/services/downstream/base_service.py
  app/services/downstream/user_management_service.py
  tests/unit/services/downstream/base_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
Labels: python, tests, api

feat(notification-service): implemented downstream client for notification service
  app/api/v1/schemas/downstream/notification_service/__init__.py
  app/api/v1/schemas/downstream/notification_service/batch_notification_response.py
  app/api/v1/schemas/downstream/notification_service/notification_item.py
  app/api/v1/schemas/downstream/notification_service/recipe_published_request.py
  app/deps/notification_service.py
  app/services/downstream/__init__.py
  app/services/downstream/notification_service.py
  docs/source/app.api.v1.schemas.downstream.notification_service.rst
  docs/source/app.api.v1.schemas.downstream.user_management_service.rst
  tests/unit/services/downstream/notification_service_test.py
Labels: documentation, python, tests, api

feat(notification-service): added webhook for recipe notification
  app/api/v1/routes/recipes.py
  app/services/recipe_scraper_service.py
  tests/unit/services/recipe_scraper_service_test.py
Labels: python, tests, api

Notification service integration (#101)
  README.md
  app/api/v1/routes/recipes.py
  app/api/v1/schemas/downstream/auth_service/__init__.py
  app/api/v1/schemas/downstream/auth_service/token_response.py
  app/api/v1/schemas/downstream/notification_service/__init__.py
  app/api/v1/schemas/downstream/notification_service/batch_notification_response.py
  app/api/v1/schemas/downstream/notification_service/notification_item.py
  app/api/v1/schemas/downstream/notification_service/recipe_published_request.py
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/get_followed_users_response.py
  app/api/v1/schemas/downstream/user_management_service/user.py
  app/core/config/service_urls.py
  app/deps/notification_service.py
  app/deps/service_token_manager.py
  app/deps/user_management_service.py
  app/services/downstream/__init__.py
  app/services/downstream/base_service.py
  app/services/downstream/notification_service.py
  app/services/downstream/user_management_service.py
  app/services/recipe_scraper_service.py
  app/utils/service_token_manager.py
  docs/source/app.api.v1.schemas.downstream.notification_service.rst
  docs/source/app.api.v1.schemas.downstream.user_management_service.rst
  tests/unit/services/downstream/base_service_test.py
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recipe_scraper_service_test.py
  tests/unit/utils/service_token_manager_test.py
Labels: documentation, python, tests, api

docs: removed extra empty openapi spec
  .gitignore
  .pre-commit-config.yaml
  docs/openapi.json
  docs/openapi.yaml
Labels: documentation, configuration

docs: removed extra empty openapi spec (#117)
  .gitignore
  .pre-commit-config.yaml
  docs/openapi.json
  docs/openapi.yaml
Labels: documentation, configuration

fix: fixed CORS error
  app/core/config/config.py
  k8s/ingress.yaml
Labels: configuration, python

fix: fixed CORS error (#118)
  app/core/config/config.py
  k8s/ingress.yaml
Labels: configuration, python

fix: fixed recipe-scraper-service host
  app/services/recommendations_service.py
  scripts/shell/deploy-container.sh
  tests/unit/services/recommendations_service_test.py
Labels: python, tests, scripts

fix: fixed recipe-scraper-service host (#119)
  app/services/recommendations_service.py
  scripts/shell/deploy-container.sh
  tests/unit/services/recommendations_service_test.py
Labels: python, tests, scripts

fix: fixed auth introspection URL
  app/core/config/config.py
  app/core/security.py
  config/oauth2.yaml
Labels: configuration, python

fix: fixed auth introspection URL (#120)
  app/core/config/config.py
  app/core/security.py
  config/oauth2.yaml
Labels: configuration, python

fix: fixed errors adding recipes to db
  app/api/v1/schemas/common/recipe.py
  app/db/models/recipe_models/recipe_step.py
  app/services/recipe_scraper_service.py
Labels: python, database, api

fix: fixed errors adding recipes to db (#121)
  app/api/v1/schemas/common/recipe.py
  app/db/models/recipe_models/recipe_step.py
  app/services/recipe_scraper_service.py
Labels: python, database, api

fix: fixed downstream service URLs
  app/core/config/service_urls.py
  config/service_urls.yaml
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
Labels: configuration, python, tests

fix: fixed downstream service URLs (#122)
  app/core/config/service_urls.py
  config/service_urls.yaml
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
Labels: configuration, python, tests

chore: auto updated all pre commit hooks
  .github/SUPPORT.md
  .pre-commit-config.yaml
  DEPLOYMENT.md
Labels: documentation, github, configuration

chore: auto updated all pre commit hooks (#132)
  .github/SUPPORT.md
  .pre-commit-config.yaml
  DEPLOYMENT.md
Labels: documentation, github, configuration

fix: fixed poetry lock file
  poetry.lock
Labels: dependencies

fix: fixed poetry lock file (#138)
  poetry.lock
Labels: dependencies

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  k8s/network-policy.yaml
  scripts/shell/cleanup-container.sh
  scripts/shell/deploy-container.sh
Labels: configuration, scripts

refactor(kong): updated service host references to use kong proxy
  app/core/config/config.py
  app/core/config/service_urls.py
  app/services/recommendations_service.py
  config/oauth2.yaml
  config/service_urls.yaml
  postman/README.md
  postman/Recipe-Scraper-Development.postman_environment.json
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recommendations_service_test.py
Labels: documentation, configuration, python, tests

Kong migration (#140)
  app/core/config/config.py
  app/core/config/service_urls.py
  app/services/recommendations_service.py
  config/oauth2.yaml
  config/service_urls.yaml
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  k8s/network-policy.yaml
  postman/README.md
  postman/Recipe-Scraper-Development.postman_environment.json
  scripts/shell/cleanup-container.sh
  scripts/shell/deploy-container.sh
  tests/unit/services/downstream/notification_service_test.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recommendations_service_test.py
Labels: documentation, configuration, python, tests, scripts

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/notification_preferences.py
  app/api/v1/schemas/downstream/user_management_service/preference_category_response.py
  app/services/downstream/user_management_service.py
  app/services/recipe_scraper_service.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recipe_scraper_service_test.py
Labels: python, tests, api

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema (#143)
  app/api/v1/schemas/downstream/user_management_service/__init__.py
  app/api/v1/schemas/downstream/user_management_service/notification_preferences.py
  app/api/v1/schemas/downstream/user_management_service/preference_category_response.py
  app/services/downstream/user_management_service.py
  app/services/recipe_scraper_service.py
  tests/unit/services/downstream/user_management_service_test.py
  tests/unit/services/recipe_scraper_service_test.py
Labels: python, tests, api

docs: updated claude.md
  .markdownlintignore
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  DEPLOYMENT.md
  README.md
Labels: documentation, github

Doc update (#148)
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  .markdownlintignore
  CLAUDE.md
  DEPLOYMENT.md
  README.md
Labels: documentation, github

.github/labeler.yml:

# PR Labeler Configuration

# Dependencies
dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements.txt

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - .env.example

# Python source
python:
  - '**/*.py'
  - app/**/*

# Tests
tests:
  - '**/test_*.py'
  - '**/*_test.py'
  - tests/**/*

# Database
database:
  - app/db/**/*
  - migrations/**/*

# API
api:
  - app/api/**/*

# Scripts
scripts:
  - scripts/**/*
